SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
SCOPES=read_themes
SHOPIFY_CUSTOM_DOMAIN=
SHOPIFY_STOREFRONT_ORIGINS=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/shopify_ab_test
SESSION_SECRET=
WEBHOOK_SECRET=
NODE_ENV=development
